<div class="container">
  <div class ="heading-style">
  <h1>FAQ</h1>
</div>
<br/>

<form class="form-inline md-form form-sm">
  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search"mdbInput>
</form><br/>
  <div class= "form-outline">
    <accordion [isAnimated]="true">
      <accordion-group heading = " How do I submit my rebate online?">
  Have your rebate form and invoice handy and go to the Submit Rebate page. Enter your Offer Code, found on the rebate form, Transaction Date, Invoice Number, Store Name, and Customer Information. We will match that information up with your invoice in our system.
</accordion-group>
<br><accordion-group heading ="Why did it say you would notify me of my rebate status?">
Before final approval of the rebate we have to match it up with your invoice. It can take up to four business days for invoice data to be updated in our system. The match will happen automatically as soon as your invoice is received and you will be notified by email immediately.
</accordion-group>

<br><accordion-group heading ="Why is it telling me I have to mail or fax my rebate? Why can't I redeem it online?">
  Either we were unable to electronically validate your invoice or we never received a record of your invoice from the store. That can happen for various reasons. It does not mean that you are not eligible for a rebate, it just means that we need to process it manually. You will need to mail or fax your completed rebate materials. If you do mail in your rebate materials we recommend that you keep a photocopy for your records.
</accordion-group>

<br><accordion-group heading = "How long will it take to receive my rebate?">
Rebates will be mailed within four weeks of processing. Each rebate is mailed via first class mail.
</accordion-group>

<br><accordion-group heading= "I forgot to send in my rebate and not it has expired. If I send it in late, will I be able to get my rebate?">
  Unfortunately, we cannot process rebates that have expired. We recommend that you complete the online submission form as soon as you receive your redemption materials, or mail it in before the postmark date listed on the rebate form.
</accordion-group>



</accordion>
</div>

</div>
